html,body{
	background: #CBCBCB;
}
body{
	margin-bottom: 10px;
}
#image .container{
	border-right: 5px solid #F08A5D;
}

.text-inverse{
	color: #F08A5D;
}

p {
	line-height: 2.0;
	padding-right: 15px;
	padding-left: 15px;
	text-align: justify;
	font-size: 20px;

}
footer {
	padding-top: 3em;
	background: size : cover;
	width: 100%;
	height: 100%;
	height: 30vh;
	color: white;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}
#home{	
	padding-top: 30%;
	background: size : cover;
	width: 100%;
	height: 90%;
	height: 100vh;
	font-weight: 100;
	color: #15EDA3;
}

nav{
	background-color: black;
}
h1{
	font-family: 'Julius Sans One', sans-serif;
	font-weight: inherit;
	line-height: 1.2;
}
.resume{
	background: #FFFFFF;
	padding-bottom: 5%;
	padding-top: 5%;
}
#About{
	background: #CBCBCB;
	padding-top: 5%;
	padding-bottom: 5%;
}
.link{
	color: #0000FF;
}
#Essay{
	padding-bottom: 5%;
	padding-top: 5%;
}
#Portofolio{
	padding-top: 5%;
}