html,body{
	background: #CBCBCB;
}
body{
	margin-bottom: 10px;
}
#image .container{
	border-right: 5px solid #F08A5D;
}

.text-inverse{
	color: #F08A5D;
}

p {
	line-height: 2.0;
	padding-right: 15px;
	padding-left: 15px;
	text-align: justify;
	font-size: 20px;

}
footer {
	padding-top: 3em;
	background: size : cover;
	width: 100%;
	height: 100%;
	height: 30vh;
	color: white;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
}

nav{
	background-color: black;
}
h1{
	font-family: 'Julius Sans One', sans-serif;
	font-weight: inherit;
	line-height: 1.2;
}
h4 p{
	font-family: 'Julius Sans One', sans-serif;
	margin-top: 10px;
}
.rata-tengah {
    text-align: center;
    margin : 20px;
    margin-bottom: 50px;
}
.panel{
	padding-left: 20px;
	background-color: #CBCBCB;
}
.tanggapan-lowongan{
	margin-left: 50px;
}

.judul{
  font-family: 'Press Start 2P', cursive;
  color: green;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}
@-webkit-keyframes example {
  from {color: green;}
  to {color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {color: green;}
  to {color: yellow;}
}