{% extends "app_login/layout/base.html" %}
{% block content %}
<content id="lowongan" class="container">
	<h1 class="rata-tengah judul"><strong>Lowongan Pekerjaan</strong></h1>
	<div class="container lowongan">
		<div class="row">
			<div class="col-sm-8">
				<div class="detail-lowongan panel">
					<h2 class="nama-perusahaan"><b>Buka Hati</b></h2>
					<hr>
					<h3 class="lowongan-perusahaan">Perusahaan Buka Hati membuka lowongan untuk<br>1. Web Development<br>2. Mobile Development</h3>
				</div>
				<div class="col-sm-12">
					<div class="tanggapan-lowongan panel">
						<h4 class="pemberi-tanggapan"><b>Bintang</b></h4>
						<hr>
						<p class="tanggapan">Pak itu digaji ga</p>
					</div>
					<div class="tanggapan-lowongan panel">
						<h4 class="pemberi-tanggapan"><b>Buka Hati</b></h4>
						<hr>
						<p class="tanggapan">1. Web Developer 1000 Juta<br>2. Mobile Developer 1000.00 Juta</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</content>
<!-- sign in with linkedin button -->
<content id="tempat-login">
	<div class="rata-tengah">
		<script type="in/Login"></script>
	</div>
	<div id="button" class="rata-tengah"></div>

</content>

{% endblock %}